<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML CS JS</title>
    <meta name="description" content="página de muestra">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
    <h1 class="title">Mercado Libre</h1>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="registro.html">Registro</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>

    <h1>Productos: {{nombre}}</h1>
    <div class="container">
        <div class="main">
            <img class="imagenes" src="img/Auriculares1.jpg" alt="imagen">
            <hr>
            <h2>Auriculares Sony M32k</h2>
            <h3>ARS3.000,54</h3>
            <button>Detalle</button>
        </div>
        <div class="main">
            <img class="imagenes" src="img/Auriculares2.jpg" alt="imagen">
            <hr>
            <h2>Auriculares Sony Otto</h2>
            <h3>ARS7.000,54</h3>
            <button>Detalle</button>
        </div>
        <div class="main">
            <img class="imagenes" src="img/Minicomponente.jpg" alt="imagen">
            <hr>
            <h2>Minicomponente Sony</h2>
            <h3>ARS45.000,54</h3>
            <button>Detalle</button>
        </div>
    </div>
    <footer>
        <p>Codeado con amor por Alejandro G Vera para Udemy</p>
    </footer>

    <script src="script.js" async defer></script>
</body>

</html>